<section class="countdown">
  <div class="countdown__eyebrow">{{ lang.t().countdownTitle }}</div>
  <div class="countdown__row">
    <div class="countdown__box">
      <div class="countdown__flowers">
        <div
          *ngFor="let flower of flowers"
          class="countdown__flower"
          [style.--delay]="flower.delay + 's'"
          [style.--duration]="flower.duration + 's'"
          [style.--x-start]="flower.xStart + '%'"
          [style.--x-end]="flower.xEnd + '%'"
        >
          <img src="assets/images/rose.webp" alt="Rose" class="countdown__flower-image" />
        </div>
      </div>
      <div class="countdown__value" [style.fontFamily]="lang.fontHeading()">{{ countdown.days() }}</div>
      <div class="countdown__label">{{ lang.t().days }}</div>
    </div>
    <div class="countdown__box">
      <div class="countdown__flowers">
        <div
          *ngFor="let flower of flowers"
          class="countdown__flower"
          [style.--delay]="flower.delay + 's'"
          [style.--duration]="flower.duration + 's'"
          [style.--x-start]="flower.xStart + '%'"
          [style.--x-end]="flower.xEnd + '%'"
        >
          <img src="assets/images/rose.webp" alt="Rose" class="countdown__flower-image" />
        </div>
      </div>
      <div class="countdown__value" [style.fontFamily]="lang.fontHeading()">{{ countdown.hours() }}</div>
      <div class="countdown__label">{{ lang.t().hours }}</div>
    </div>
    <div class="countdown__box">
      <div class="countdown__flowers">
        <div
          *ngFor="let flower of flowers"
          class="countdown__flower"
          [style.--delay]="flower.delay + 's'"
          [style.--duration]="flower.duration + 's'"
          [style.--x-start]="flower.xStart + '%'"
          [style.--x-end]="flower.xEnd + '%'"
        >
          <img src="assets/images/rose.webp" alt="Rose" class="countdown__flower-image" />
        </div>
      </div>
      <div class="countdown__value" [style.fontFamily]="lang.fontHeading()">{{ countdown.mins() }}</div>
      <div class="countdown__label">{{ lang.t().mins }}</div>
    </div>
    <div class="countdown__box">
      <div class="countdown__flowers">
        <div
          *ngFor="let flower of flowers"
          class="countdown__flower"
          [style.--delay]="flower.delay + 's'"
          [style.--duration]="flower.duration + 's'"
          [style.--x-start]="flower.xStart + '%'"
          [style.--x-end]="flower.xEnd + '%'"
        >
          <img src="assets/images/rose.webp" alt="Rose" class="countdown__flower-image" />
        </div>
      </div>
      <div class="countdown__value" [style.fontFamily]="lang.fontHeading()">{{ countdown.secs() }}</div>
      <div class="countdown__label">{{ lang.t().secs }}</div>
    </div>
  </div>
</section>
